<!DOCTYPE html>
<html lang="zh" data-docid="E9GU410F00258152" data-category="财经,商业" data-boardid="money_bbs" data-redirect=""
      data-count="36026" data-hidead="true">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta id="viewport" name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <title>号外|原云南红塔集团董事长褚时健去世</title>
    <link rel="dns-prefetch" href="//static.ws.126.net/">
    <link rel="dns-prefetch" href="//nimg.ws.126.net/">
    <meta name="description" content="网易财经3月5日讯 据可靠消息称，原云南红塔集团有限公司和玉">
    <meta name="keywords" content="褚时健,云南,红塔,玉溪">
    <meta name="format-detection" content="telephone=no">
    <script type='text/javascript'>let curUrl = window.location.href;
    let hostRegx = /^http:\/\/c\.m\.163\.com/;
    if (hostRegx.test(curUrl)) {
        window.location.href = curUrl.replace(hostRegx, 'https://c.m.163.com');
    }</script>
    <link crossorigin="anonymous" rel="stylesheet"
          href="//static.ws.126.net/163/frontend/share/css/article.e2133f8fcad99ff99803.css">
</head>
<body>
<script>!function (e, t) {
    var i = e.documentElement, n = "orientationchange" in window ? "orientationchange" : "resize",
        a = navigator.userAgent.match(/iphone|ipad|ipod/i), d = function () {
            var e = i.clientWidth, t = i.clientHeight;
            e && (750 <= e && (e = 750), i.style.fontSize = e / 750 * 100 + "px", i.dataset.percent = e / 750 * 100, i.dataset.width = e, i.dataset.height = t)
        };
    d(), a && e.documentElement.classList.add("iosx" + t.devicePixelRatio), e.addEventListener && t.addEventListener(n, d, !1)
}(document, window)</script>
<iframe id="iframe" style="display:none!important"></iframe>
<div class="js-analysis js-delegate">
    <section class="g-top-slider js-top-slider"></section>
    <section class="g-article js-article">
        <div class="js-article-inner"><h1 class="g-title">号外|原云南红塔集团董事长褚时健去世</h1>
            <div class="g-subtitle"><img class="img js-open-newsapp js-tid" data-tid="T1524534586033"
                                         data-stat="inner@icon" data-param="reader/T1524534586033"
                                         src="//cms-bucket.nosdn.127.net/38fd1a54709e4a03be1c90af76905b5c20180423164539.jpeg"
                                         alt="subtitle"> <b>网易号外</b><span>03-05 14:47</span> <span
                    class="reply js-reply js-open-newsapp" data-param="tie/E9GU410F00258152" data-stat="inner@post"> 跟贴 36026 条 </span>
            </div>
            <article class="g-main-content js-main-content">
                <main>
                    <div class="m-photo js-open-newsapp" data-param="E9GU410F00258152" data-stat="inner@photo">
                        <figure class="js-img u-img-placeholder" data-min="120" data-retry="1"
                                data-param="E9GU410F00258152" data-stat="inner@photo" data-alt=""
                                data-echo="//nimg.ws.126.net/?url=http%3A%2F%2Fcms-bucket.ws.126.net%2F2019%2F03%2F05%2F17045cda1fea4b63b78a5006329abed1.jpeg&thumbnail=690x2147483647&quality=75&type=jpg">

                        </figure>
                        <div class="u-tip">打开网易新闻 查看更多精彩图片 <i class="icon-arrow"></i></div>
                        <figcaption></figcaption>
                    </div>
                    <p><b>网易财经3月5日讯</b> 据可靠消息称，原云南红塔集团有限公司和玉溪红塔烟草（集团）有限责任公司董事长、褚橙创始人褚时健去世。</p>
                    <p>网易号外证实的消息显示，褚时健是在今日中午于玉溪市人民医院过世，追悼会日期目前待定。</p>
                    <p><b>个人履历：</b></p>
                    <p><b>燃情年代</b></p>
                    <p>1928年1月23日，出生于一个农民家庭。</p>
                    <p>1949年，参加云南武装边纵游击队，任边纵游击队2支队14团9连指导员；</p>
                    <p>1950年-1952年，任征粮组组长、盘西区区长，期间加入中国共产党。</p>
                    <p>1953年，区长、区委书记。</p>
                    <p>1955年，玉溪地区行署人事科长。与马静芬结婚。</p>
                    <p>1958年-1978年，被打成右派，下放红光农场改造，后任新平县畜牧场、堵岭农场副场长，曼蚌糖厂、戛洒糖厂厂长。</p>
                    <p><b>烟业浮沉</b></p>
                    <p>1979年10月，玉溪卷烟厂厂长。</p>
                    <p>1986年，“第一车间”革命、“三合一”体制建立；</p>
                    <p>1987年，玉溪卷烟厂成为中国同行业第一；</p>
                    <p>1988年，“红塔山”成为玉溪卷烟厂第一品牌；</p>
                    <p>1990年，授予全国优秀企业家。</p>
                    <p>1993年11月28日，云南红塔山集团有限公司成立；</p>
                    <p>
                        1994年，评为十大改革风云人物。由于体制原因，他对企业的巨大贡献并没有在个人所得上得到体现，18年来他的总收入不过百万，个人收入的巨大落差使他心理严重不平衡，再加上缺乏有效的监督机制，他辉煌的人生之路偏离了航向，贪污174万美元。</p>
                    <p>1995年2月，褚时健被匿名检举贪污受贿。此时褚时健的女儿褚映群和老伴儿马静芬已经被关在洛阳监狱。</p>
                    <p>1995年9月，任云南红塔集团和玉溪红塔烟草集团有限责任公司董事长；</p>
                    <p>1995年12月1日，他的女儿褚映群在狱中自杀。</p>
                    <p>1996年12月-1998年，被隔离审查；</p>
                    <p>1999年1月9日，云南省高级人民法院的被称为“现代法律文书的典范”的长达8000字的判决书，宣布褚时健因巨额贪污和巨额财产来源不明罪被判处无期徒刑、剥夺政治权利终身。</p>
                    <p><b>峥嵘岁月</b></p>
                    <p>2001年，减刑为有期徒刑17年。</p>
                    <p>2001年5月15日，因为严重的糖尿病获批保外就医，回到家中居住养病，并且活动限制在老家一带。</p>
                    <p>2002年，保外就医的褚时健承包了一片2400亩的荒山，种起了橙子，而这一年他已经70多岁。</p>
                    <p>2004年，获假释；</p>
                    <p>2008年，减刑至有期徒刑12年。</p>
                    <p>2011年，刑满释放。</p>
                    <p>2012年，当选云南省民族商会名誉理事长。</p>
                    <p>2012年11月5日，褚时健种橙的第十个年头，褚橙首次大规模进入北京市场。</p>
                    <p>2014年，褚橙庄园修建完成。</p>
                    <p>2014年11月，褚时健传记《褚时健：影响企业家的企业家》正式出版发行。</p>
                    <p>2018年1月17日，在位于云南省玉溪市的褚橙庄园，云南褚氏果业股份有限公司举办了成立仪式。褚时健独子褚一斌担起褚橙重任，牵头组建股份公司任总经理，90岁高龄的褚时健任董事长一职。</p>
                    <p><b>【生平事迹】</b></p>
                    <p><a urlmacroreplace="false" target="_self"
                          href="http://money.163.com/18/0517/11/DI0M2L9S00259ARN.html"><b>号外|90岁褚时健：每天上街买菜
                        坚持看新闻联播</b></a></p>
                    <p>云南红塔集团原董事长、褚橙创始人，先后两次成功创业，被誉为“中国烟王”和“中国橙王”的知名企业家褚时健，在外界眼中似乎一直显得很神秘。但事实上，他与中国绝大多数已经退休的老人并无二致。</p>
                    <p>
                        时代、命运、历史，这些曾经笼罩在褚时健身上的宏大词汇，似乎已经消失了。在今年年初将自己一手创立的褚橙产业交给独子褚一斌后，这位90岁的老人开始在玉溪市的一幢两层小楼里安享晚年。平日，除了偶尔去山上看一下果树，他的最大爱好是上街买菜和看《新闻联播》。</p>
                    <p><a urlmacroreplace="false" target="_self"
                          href="http://money.163.com/18/0131/10/D9FJHTUF002580T4.html"><b>90后褚时健：光环消散后
                        褚橙是否还可以卖那么贵</b></a></p>
                    <p>褚时健要退休了，依照自然规律，他会被淡忘，很难说一百年后，还会有多少人会去咀嚼他的故事。但是经营家族企业，谁不想做百年老店？
                        这是褚氏企业必须面临的矛盾，这些年，褚橙的广告语一直是：“人生总有起落，精神终可传承”。当褚时健的光环消散后，褚橙是否还可以卖的那么贵，卖得那么好？
                        褚时健管不了那么多了，那是下一代的事情。早在三年前，他就对《中国企业家》的记者说过：“我已经甘心了，我筋疲力尽了。”</p>
                    <p><a urlmacroreplace="false" target="_self"
                          href="http://money.163.com/18/0426/11/DGAINTMQ002580T4.html"><b>褚时健74岁再次创业
                        一失意青年受感动放弃自杀</b></a></p>
                    <p>
                        2002年，74岁的褚时健与妻子在玉溪市新平县哀牢山承包荒山开始种橙开始第二次创业。一位三十几岁的山西人来到褚时健家门口不离开。褚时健拖着疲惫身躯和他谈了十几分钟，年轻人突然扑通一下跪倒在地，他说，见到褚时健如此高龄还在拼搏，自己无论如何也不应该自杀。</p>
                    <p><b>【家庭情况】</b></p>
                    <p><a urlmacroreplace="false" target="_self"
                          href="http://money.163.com/18/0212/07/DAE8OKMP002580PL.html"><b>褚时健接班人褚一斌:我不想躺在家族产业上混下去</b></a>
                    </p>
                    <p>2018年2月4日，阴冷彻骨的寒潮中，55岁的褚一斌陪同85岁高龄的母亲马静芬，出现在位于云南省玉溪市新平县的褚柑果园。这里是马静芬的产业。</p>
                    <p>
                        黑色羽绒服、黑色运动裤、运动鞋，褚一斌当天的穿着很难让人将其与“海归”一词联系起来——在2013年听从父亲褚时健召唤回到云南之前，褚一斌一直在国外从事金融和贸易工作。当然，这身打扮更符合他现在的身份：新农人。</p>
                    <p><a urlmacroreplace="false" target="_self"
                          href="http://money.163.com/18/0212/20/DAFJEA5G00258105.html"><b>专访褚时健夫人马静芬:独子接班
                        内部仍存家族竞争</b></a></p>
                    <p>2018年2月4日，云南省玉溪市新平县的褚柑果园，褚时健夫人马静芬接受了网易财经独家专访。褚橙产业未来将如何发展？家族内部存在何种关系？对此，马静芬做出了自己的回答。</p>
                    <p><!--viewpoint--></p>
                    <p>
                    <div class="m-link-card js-news-link js-redirect-newsapp"
                         data-url="https://hongcai.163.com/html/lottery_promotion.html?from=newsapp_lotterynews"
                         data-stat="inner@card">
                        <div class="img">
                            <figure class="js-img u-img-placeholder"
                                    data-echo="//nimg.ws.126.net/?url=http%3A%2F%2Fcms-bucket.nosdn.127.net%2Fc1f86ecc7fb14949a1460a8f8256d72720170707202021.jpeg&thumbnail=102x2147483647&quality=75&type=jpg"></figure>
                        </div>
                        <div class="info">
                            <h3>投10元最高赚180万</h3>
                            <small>用人工智能投足彩，助你轻松赚钱</small>
                        </div>
                        <i class="icon-arrow"></i>
                    </div>
                    </p>
                    <div class="m-newsapplite-redpacket-card"></div>
                    <div class="m-reader-card"></div>
                    <div class="m-topic-card"></div>
                </main>
                <footer>
                    <div class="footer clearfix"> 责任编辑： 杨斌_NF4368 <span class="like js-like" data-like="1404"><i
                            class="icon-like"></i>1404人喜欢</span></div>
                </footer>
                <section class="article-bottom-video"></section>
            </article>
        </div>
    </section>
    <section class="g-btn-open-newsapp"><a class="js-open-newsapp" data-stat="bottom@show_more_button"
                                           data-param="E9GU410F00258152">打开网易新闻，阅读体验更佳</a></section>
    <section class="g-relative-new">
        <header data-exposure="popular-title"><em></em>大家都在看<em></em></header>
        <ul class="js-relative-before"></ul>
        <ul class="js-relative-after"></ul>
    </section>
    <section class="g-section g-hot-search">
        <header><em></em>热门搜索<em></em></header>
        <ul class="js-hot-search"></ul>
    </section>
    <section class="slider-wrap js-slider"></section>
    <section class="g-modal-after-share">
        <div class="modal">
            <div class="title">分享成功<span class="close"></span></div>
            <h2>热门推荐</h2>
            <ul class="news"></ul>
            <a class="more js-open-newsapp" data-param="startup" data-stat="modal@more">查看更多</a></div>
    </section>
    <section class="redpacket-wrap"></section>
</div>
<script>window.IMPORT_SCRIPTS = ["//static.ws.126.net/163/frontend/libs/open-newsapp/latest/open-newsapp.min.js?t=1550828721920"]</script>
<script>window.POPULAR_NEWS = [{
    "docId": "E9ELB3AJ0514ETQN",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/little936fAUc3yonwu8Ghv4r8YqrIunyXHQx48zAi6y4EOF0RM46F1551692111776.jpg",
    "ptime": "2019-03-04 17:36:00",
    "replyCount": 259,
    "title": "因为这个，合肥“蒸小皖”被罚5万元"
}, {
    "docId": "E9EPKEAM0519A8R8",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/big319174fc824c5b44c098e9f863ca95a50b7.jpg",
    "ptime": "2019-03-04 18:51:01",
    "replyCount": 618,
    "title": "中信证券高喊：A股反弹接近尾声！将在2800-3200点附近震荡"
}, {
    "docId": "E9G82UHO0515CE46",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/big549aKcGx=wwABPH=inAhZi=lIyGqgO9buWTTkSP1G8kRofID1551745205972.jpg",
    "ptime": "2019-03-05 08:22:50",
    "replyCount": 5008,
    "title": "瓜伊多的回归点燃了委内瑞拉人民的热情，委内瑞拉的局势会改变吗"
}, {
    "docId": "E9F5UN0S05462SOV",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/big249xM68QUVVq3gipkHDr6tHI3cl7T9NauQ1a6fdJSnoBE8Wk1551709576691.jpg",
    "ptime": "2019-03-04 22:26:20",
    "replyCount": 597,
    "title": "高二下学期才着手准备出国  南外仙林大胆男孩被美两所高校录取"
}, {
    "docId": "E9F1UQT6053469QZ",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/big9769c03d2c5ccd90aed9f99e401bb23bc1b.jpg",
    "ptime": "2019-03-04 21:17:14",
    "replyCount": 16048,
    "title": "广州车市调查：翻倍店租吞噬利润，大众通用输给“两块田”"
}, {
    "docId": "E9EQDPIS0519DJN9",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/three164tTlSpW3WXFMznW5z6eEC4sr4NRlodLN4Qi30EjnVAkuaj1551697487310compressflag.jpg",
    "ptime": "2019-03-04 19:04:51",
    "replyCount": 198,
    "title": "CBA冠军是谁还不一定！辽宁欲签约猛龙中锋，资料已送往俱乐部"
}, {
    "docId": "E9F3M3K2053906HU",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/little155LhnXpLZGy1WXoPZ5oFUk=MZfawkd=xxcR5vbKwqG2JST51551706861130compressflag.jpg",
    "ptime": "2019-03-04 21:46:41",
    "replyCount": 184,
    "title": "突然暴跌80点！从周二起要特别重视一个关键信号！"
}, {
    "docId": "E9GRVIPG0526D7OK",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/little524=rCH70yrfbkmO5yvSOTLPbAf5eZZKb1hkvE46Ltrn1aSv1551765250665.jpg",
    "ptime": "2019-03-05 14:10:35",
    "replyCount": 1917,
    "title": "腾讯有钱也不能为所欲为！刀塔自走棋：永远不会授权给腾讯！"
}, {
    "docId": "E9ER3UNB0526GBND",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/big746eCnNmmt8yV92TZHpHEg9xcvfqEC8Bu9ZJg5gS4w=9zfM21551698036416compressflag.jpg",
    "ptime": "2019-03-04 19:16:57",
    "replyCount": 605,
    "title": "LPL比赛热度不足400万，Rita双肩成亮点，男解说看入迷了？"
}, {
    "docId": "E9ELDTLP05372K4Q",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/three944jBJLxk7BMTTYD0n38rRtmKYHHGvcw4YUB6isBRGEw6WV21551692248302compressflag.jpg",
    "ptime": "2019-03-04 17:37:33",
    "replyCount": 4701,
    "title": "又一豪车被揭下“遮羞布”？车主：买了这车，基本告别高速！"
}, {
    "docId": "E9F17BBQ05491VQ3",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/big1992ijkAT6wcCTsRlRPleglQn1E5fxxa61sLx8TWFGYk=q1C1551704620013.jpg",
    "ptime": "2019-03-04 21:03:46",
    "replyCount": 650,
    "title": "搞笑GIF：我决定了，我也要去健身！"
}, {
    "docId": "E9F367D705492KBD",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/little251rSiMBqsTI3LGTYuAehu8njJJMp4zowCfQu3KFTtgPgrOU1551706366294compressflag.jpg",
    "ptime": "2019-03-04 21:38:00",
    "replyCount": 1362,
    "title": "61分！39分！两大NBA历史纪录即将诞生！两大超级巨星同迎里程碑"
}, {
    "docId": "E9EUNJ7G055004XG",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/little158781ec8f4271988d4623b8e467efa2ace.jpg",
    "ptime": "2019-03-04 20:18:39",
    "replyCount": 195,
    "title": "沪指再上3000点，茅台重回万亿，牛市踏空了该买哪些股票？"
}, {
    "docId": "E9GD5AJE05370VC1",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/big116wG4UyeM55nNCmnzdUKO6rcBMNeQEwmTZedOb2c8tZDiPK1551750062655.jpg",
    "ptime": "2019-03-05 09:51:31",
    "replyCount": 3767,
    "title": "罗永浩被曝自由受限，被债主逼迫考察电子烟，只为还清巨额债务？"
}, {
    "docId": "E9F7FK220517PFU0",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/little3218250cbcc01b71b30c32f224ace79ff4d.jpg",
    "ptime": "2019-03-04 23:04:32",
    "replyCount": 847,
    "title": "3000点已过，撤离！撤离！撤离！"
}, {
    "docId": "E9EPS8MV0549214D",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/three80661715fc7102c4189a0d950325967f626.jpg",
    "ptime": "2019-03-04 18:55:17",
    "replyCount": 3018,
    "title": "与网易争夺《魔兽》失败，损失600万付费玩家！竟惨遭退市警告？"
}, {
    "docId": "E9ENT396055004XG",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/big9278c51cf57826e603653698aea64decb01.jpg",
    "ptime": "2019-03-04 18:21:01",
    "replyCount": 3400,
    "title": "特斯拉车主怒了！刚提车就降34万……别急，20多万的车要来了"
}, {
    "docId": "E9F03D6105431HPY",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/three618SASZTs3vLDQi1qsfF8MtBD0nrGSXwy0zytnE5sAXvbc5A1551703437902compressflag.jpg",
    "ptime": "2019-03-04 20:44:04",
    "replyCount": 204,
    "title": "扒洋楼，报冤仇，南阳靳岗天主教堂，在近代为何与农民有这么大仇"
}, {
    "docId": "E9EOEDN70516A30T",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/three213Fb=GB5hc=OGnPksMBt1TqeZxF7qIA=ROY7mgkRC2NDf6F1551695110087.jpg",
    "ptime": "2019-03-04 18:30:15",
    "replyCount": 1083,
    "title": "官方确认！恒大第一内援正式诞生：出道巅峰9战英超 24岁值3545万"
}, {
    "docId": "E9ETUVTI05491TUI",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/three673C2JBfUGKOFG=YkkS5goYUD1V407VhS7FnkOJbNtqKVyRt1551700851663.jpg",
    "ptime": "2019-03-04 20:06:42",
    "replyCount": 516,
    "title": "中超30岁国脚“低级”失误后表情“呆滞”：欧洲名帅直接看“懵”"
}, {
    "docId": "E9F3DGDQ0524M7CR",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/little786mUtdbO3dTNxP61Mb40QIrSKa9lMn2racOHp7M5L5uM5Ty1551706919172.jpg",
    "ptime": "2019-03-04 21:42:05",
    "replyCount": 2034,
    "title": "搞笑GIF：我就想知道她要怎么上厕所"
}, {
    "docId": "E9EPU8TI052695PQ",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/big743GupwIkasaECS8NwprUEGz7LqAa7WyHkTB07y9sNMf3oxx1551696976036.jpg",
    "ptime": "2019-03-04 18:56:23",
    "replyCount": 143,
    "title": "主播Sy直播爆料：孤存年入千万拒绝与4AM续约 粉丝拱火激化矛盾"
}, {
    "docId": "E9GF5CVL0514TTL3",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/big93944644eb5ddbfab6c7c0cc8979430b586.jpg",
    "ptime": "2019-03-05 10:28:13",
    "replyCount": 1462,
    "title": "美将终止对印优惠贸易国待遇？特朗普：它未向美国保证它将提供公平合理的市场准入"
}, {
    "docId": "E9F67N0B0529V8QM",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/three541jCoF37qlbw=A8mN90iIcZRmHjVOLc6KOaU42pMsQ5oO5J1551709782930.jpg",
    "ptime": "2019-03-04 22:31:15",
    "replyCount": 688,
    "title": "连聂卫平都跨界来骂，秦升遭全网讨伐，一个好消息让他松口气"
}, {
    "docId": "E9F79VF80526T4H0",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/big195=JZK3xTrsSWsgciYYIjRCzdNDlttnL6fsgld1KZSqJRAy1551710973689compressflag.jpg",
    "ptime": "2019-03-04 22:49:58",
    "replyCount": 254,
    "title": "IG分析师：IG双C一个混子一个毒瘤，网友：IG的戏精管理有点多！"
}, {
    "docId": "E9FGFRSP0526Q4PO",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/little994xSco1YBu7Jm2o8DQYVNKlrHzAyENfWetUjZRqDTv9osuQ1551720506198compressflag.jpg",
    "ptime": "2019-03-05 01:30:28",
    "replyCount": 673,
    "title": "魔兽世界：1张15年前的截图，国外玩家回复5400条留言，莫名伤感"
}, {
    "docId": "E9F0MCHG05298H53",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/little42943fa62242991cdb35a753d24eeee0570.jpg",
    "ptime": "2019-03-04 20:52:20",
    "replyCount": 2571,
    "title": "西甲著名记者：武磊的风格更适合在西甲打替补"
}, {
    "docId": "E9EQC2970516D2M0",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/little436INnq72n2FSz7=HGZb=BiObJvHyk97jEy7SfbWhK8i4UDo1551697200778.jpg",
    "ptime": "2019-03-04 19:00:04",
    "replyCount": 1368,
    "title": "把U盘插在充电器上会怎么样？"
}, {
    "docId": "E9GES2IK05454CER",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/little193Ireg4yW3PRFDHl6rqwVSnKosqDYrR38wASrbuRvQs5=k21551752483135compressflag.jpg",
    "ptime": "2019-03-05 10:21:25",
    "replyCount": 2020,
    "title": "男子22万买来“假奥迪”, 打开引擎盖是大众, 4S店: 都是一样的!"
}, {
    "docId": "E9FIAB3D0517NHHK",
    "imgsrc": "http://bjnewsrec-cv.ws.126.net/little131ZgCY0N7OZeu8sIWoatpE9e0y2LBm0SLE8wOLKgWoxtV6m1551722540825.jpg",
    "ptime": "2019-03-05 02:02:24",
    "replyCount": 466,
    "title": "买一张无限流量卡插在旧手机里面，长期开热点替换家里宽带可行吗"
}]</script>
<script crossorigin="anonymous" async
        src="//static.ws.126.net/163/frontend/share/js/article.47e2f3df04e675d30def.js"></script>
<script type='text/javascript'> (function (w, d, s, n) {
    var f = d.getElementsByTagName(s)[0], k = d.createElement(s);
    k.async = true;
    k.src = '//static.ws.126.net/163/frontend/antnest/' + n + '.js?v=201902281325';
    f.parentNode.insertBefore(k, f);
})(window, document, 'script', 'NTM-CQNTS2VV-3');</script>
<script>!function () {
    "use strict";
    var e = document.documentElement.dataset.docid, t = location.href.match(/w=(\d*)/);
    t = t ? t[1] : 1;
    var a = navigator.userAgent, n = document.referrer, i = "";
    a.match(/micromessenger/gi) ? i = "wx" : a.match(/weibo/gi) || n.match(/weibo\.com/) ? i = "wb" : a.match(/yixin/gi) ? i = "yx" : (a.match(/qq/gi) || n.match(/qq\.com/) || n.match(/qzone\.com/)) && (i = "qq"), window.addEventListener("NTMReady", function () {
        window.NTESAntAnalysis && window.NTESAntAnalysis.sendData({
            projectid: "NTM-CQNTS2VV-3",
            val_nm: "pageview",
            val_act: "pageview",
            info: {modelid: e}
        }), window.neteaseTracker && window.neteaseTracker(!1, "http://sps.163.com/article/?spst=0&docid=" + e + "&spss=newsapp&spsw=" + t + "&spsf=" + i, "", "sps")
    })
}()</script>
<script>"serviceWorker" in navigator && window.addEventListener("load", function () {
    var e = location.pathname.match(/\/news\/[a-z]{1,}\//);
    if (e) {
        var n = e[0] + "article-sw.js?v=080a1a71afe48766993a";
        navigator.serviceWorker.register(n).then(function (n) {
            n.onupdatefound = function () {
                var e = n.installing;
                e.onstatechange = function () {
                    switch (e.state) {
                        case"installed":
                            navigator.serviceWorker.controller ? console.log("New or updated content is available.") : console.log("Content is now available offline!");
                            break;
                        case"redundant":
                            console.error("The installing service worker became redundant.")
                    }
                }
            }
        }).catch(function (e) {
            console.error("Error during service worker registration:", e)
        })
    }
})</script>
</body>
<script src='//static.ws.126.net/163/frontend/libs/raven-3.26.2.min.js' crossorigin='anonymous'></script>
<script>Raven.config('//ae4608e442bf4cf3bb0aed6027a9cd8a@sentry.music.163.com/17', {ignoreErrors: ['MyAppGetHTMLElementsAtPoint', 'MyAppGetLinkTitleNameAtPoint', 'MyAppGetLinkHREFAtPoint', 'MyAppGetLinkSRCAtPoint', 'CPJsApi', 'WeixinJSBridge', 'initiated by a user gesture', 'interrupted by a call to pause', 'game', 'TouTiao', 'JikeHybrid', 'not allowed by the user agent or the platform in the current context', 'WeiboJSBridge', 'ServerLocation', 'mapp', 'SkinSwitch', 'ResizeObserver loop limit exceeded', 'getPercent', 'Return statements are only valid inside functions', 'undefined is not a function', 'play() failed because the user', 'trim is not a function']}).install()</script>
</html>